<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Open+Sans:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/estilo.css">
    <title>Tienda Online de Loló</title>
</head>

  <body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Loló</a>
    </nav>

    {{{body}}}

        <footer>
            <p class="text-center">Diseñado por Candela Giacomoni, 2021</p>
        </footer>

</body>
</html>
