h1{
    color:rgb(241, 213, 226);
    background-color:rgb(230, 177, 197) ;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.destacados{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
}

#caja{
	border-radius: 11px 11px 11px 11px;
-webkit-border-radius: 11px 11px 11px 11px;
-moz-border-radius: 11px 11px 11px 11px;
background: #bbffea;
border: 2px solid rgba(67,99,85,0.5);
width:200px;
padding:10px;
box-sizing: border-box;
	}

#primero{
    /* position:static; */
    border-radius: 11px 11px 11px 11px;
    -webkit-border-radius: 11px 11px 11px 11px;
    -moz-border-radius: 11px 11px 11px 11px;
    background: #f8e3ff;
    border: 2px solid rgba(141,118,152,0.5);
    width: 180px;
    padding:10px;
    box-sizing: border-box;
}

#segundo{
    /* position:static; */
	border-radius: 11px 11px 11px 11px;
-webkit-border-radius: 11px 11px 11px 11px;
-moz-border-radius: 11px 11px 11px 11px;
background: #fff0de;
border: 2px solid rgba(141, 127, 120, 0.247);
width: 180px;
padding:10px;
box-sizing: border-box;
}

#tercero{
	/* position:static; */
	border-radius: 11px 11px 11px 11px;
-webkit-border-radius: 11px 11px 11px 11px;
-moz-border-radius: 11px 11px 11px 11px;
background: #e7ffe6;
border: 2px solid rgba(116,137,114,0.5);
width: 180px;
padding:10px;
box-sizing: border-box;
}
